 <div class="contact-container">
    <h1>Contact Us</h1>
    <p>If you have any questions, feedback, or need assistance, please feel free to reach out. We'd love to hear from you!</p>
  
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div>
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required [(ngModel)]="contact.name" />
      </div>
  
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required [(ngModel)]="contact.email" />
      </div>
  
      <div>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required [(ngModel)]="contact.subject" />
      </div>
  
      <div>
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required [(ngModel)]="contact.message"></textarea>
      </div>
      <div >
        <button class="primary-button" type="submit" >Send Message</button>
      </div>
       </form>
  </div>
  